@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.about-page {
  background-color: #212121;
  box-sizing: border-box;
  max-height: 100%;
}

.heading {
  color: #ecd8bd;

  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 222%;
  padding-top: 35px;
  font-weight: 250;
  font-style: normal;
  /* font-weight: 50; */
}

.services {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 255%;
  font-family: "Poppins", sans-serif;
  font-weight: 280;
  font-style: normal;
  /* font-weight: 50; */
}
.content {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  height: auto;
  width: 650px;
  text-align: center;
  margin: auto;
  position: relative;
  padding-top: 22px;
}

.img1 {
  width: 250px;
  height: auto;
  float: left;
  /* position: absolute; */
  position: relative;
  top: -473px;
  left: 100px;

  flex: 1;
}
.img2 {
  width: 250px; /* Adjust the size of the images as needed */
  height: auto;
  float: right;
  flex: 3;
  position: relative;
  top: -473px;
  right: 100px;
}

.flex-container {
  align-items: center;
  justify-content: center;
}
