.footer {
  color: #212121;
  background-color: #212121;
  padding-top: 150px;
} 

h5 {
  color: white;
  padding-left: 100px;
}

.xxxy {
  color: rgb(179, 181, 183);
}

.xxxy:hover {
  color: white;
}

.ext {
  text-align: center;
}

.abc {
  margin: 55px;
  padding-right: 0px;
  display: flex;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mond {
  list-style: none;
  margin: 0 15px;
}

.tues {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  

  transition: 0.5s;
}

.tues::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.tues:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

.tues:hover {
  color: #ffffff;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px white;
}
.sat {
  padding-top: 30px;
}
