/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
} */

header {
  background-color: #1f1f1f;
  height: 85px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

nav .logo img {
  width: auto;
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

nav ul li a {
  color: #978a8a;

  text-decoration: none;
}

.book-now {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 60px;
  text-decoration: none;
  border-radius: 50px;
}

.nav {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}

.nav a {
  padding: 0.5em 0.8em;
  color: rgba(255, 255, 255, 0.5);

  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #fffffe;
  border-left: 3px solid #ffffff;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #f8f8f8;
}

.book-now:hover {
  background-color: #fff;
  color: black;
}
